/osx/.xmonad/xmonad.o
/osx/.xmonad/xmonad.hi
/osx/.xmonad/xmonad-x86_64-darwin
/osx/.urxvt/.DS_Store
/.xmonad/xmonad-x86_64-darwin
/.xmonad/.xmonad/xmonad_osx.hs
/.xmonad/.xmonad/xmonad.hi
/.xmonad/.xmonad/xmonad-x86_64-linux
/.xmonad/.xmonad/xmonad.errors
/.xmonad/.xmonad/xmonad.o
/.xmonad/#xmonad.hs2#
/.config/libreoffice/*
\#*
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xmonad/xmonad-x86_64-linux
/.config/pulse/*
/.config/gtk-2.0/gtkfilechooser.ini
/.config/dconf/user
/.config/pavucontrol.ini
/.emacs.desktop
